<form method="post" action="/jobs">
  <div>
    <p><label for="company">Company:</label><input name="company" type="text"></p>
    <p><label for="title">Job Title:</label><input name="title" type="text"></p>
    <p><label for="description">Description:</label><textarea name="description" rows="20" cols="50"></textarea></p>
    <p><label for="city">City:</label><input name="city" type="text"></p>
    <p><label for="state">State:</label><input name="state" type="text"></p>
    <p><button type="submit">Post Job</button></p>
  </div>
</form>